#logo-login {
  min-width: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  width: 30%;
}
.formStyled {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.loginButton {
  margin-top: 20px;
}